@import "normalize";

h1, h2 {
	clear: both;
	font: bold 20px/12px 'verdana',sans-serif;
	border-left: 52px solid #444;
	color: #444;
	padding: 1px 0 0 8px;
	// letter-spacing: -2px;
	text-transform: uppercase;
	position: relative;
}
